#vscode
.vscode/

# Maven
log/
target/

# Intellij IDEA
.idea/
*.iml

#VSCode
.vscode/

# Mac OS
.DS_Store

.vscode/

.project
.factorypath
.classpath
.settings
*.versionsBackup

PublicTempStorage/
PrivateTempStorage/